table{
    border: 2px solid green;
}
th {
    color:red;
    padding: 5px;
    background-color: black;
    text-align: center;
    border: 1px solid;
    border-color: white;
}


caption{
    text-align: center;
}


