<table >
    <caption><h2>{{title}}</h2></caption>
    
    <tr >
        <th style="width: 7%">Nome</th>
        <th style="width: 7%">Cognome</th>
        <th style="width: 13%">Codice Fiscale</th>
        <th style="width: 10%">Email</th>
        <th style="width: 10%">Telefono</th>
        <th style="width: 10%">Prov</th>
        <th style="width: 10%">Età</th>
        <th style="width: 10%">Data inserimento</th>
        <th style="width: 23%" >Azione</th>
        
        
    </tr>
        <tr app-user *ngFor="let utente  of users" [utente]=utente 
                    (onDeleteUsers) = "deleteUser($event)" 
                    (onUpdateUsers) = "updateUser($event)"
                    [routerLink]="['/users/',utente?.id, '/show']" 
                    >         
                    <!-- variabile input --><!-- variabile input -->
        </tr>
    
    
</table>
