<app-nav (onInsertUser) = "insertUser()" (onResetInsert) = "resetInsert()"></app-nav>



  <div class="container">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
 
 <!--
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <app-users (onUpdateUsers) = "updateUser($event)"> </app-users>
      </div>

      <div  class="col-md-3" *ngIf="userSelected.id!=0">
        <app-user-detail class="usersDetails" [utentex]=userSelected ></app-user-detail>
      </div>
    </div>
  </div>
 --> 