
.userDetail{
    float: left;
    width: 40%;
    border: 2px;
}




.salva {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 80px;
    margin-right: 10px;
    
}

.reset {
    background-color: yellow;
    color: black;
    font-weight: bold;
    padding: 5px;
    width: 80px;
    margin-right: 10px;
    
}
.form_title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
}
.form-footer{
    text-align: center;
    padding: 10px;
    
}

.form_group_row{
    
    padding: 6px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_group{
    
    padding: 6px;
    border: 1px solid black;
    margin-bottom: 10px;
}


.userForm{
    width: 98%;

}

  
  input[type=number] { 
    appearance: textfield;
    text-align: left;
    color: black;
    width: 170px;

    
    
}

.btn-space {
    margin-right: 8px;
}
