<td  style="width: 7%"> {{utente?.lastname}} </td>  
<td  style="width: 7%">{{ utente?.name }}</td>        
<td style="width: 13%">{{ utente?.fiscalcode }}</td>
<td style="width: 10%">{{ utente?.email }}</td>
<td style="width: 10%">{{ utente?.phone | phonePipe}}</td>
<td style="width: 10%">{{ utente?.province }}</td>
<td style="width: 10%">{{ utente?.age }}</td>
<td style="width: 10%">{{ utente?.dataInserimento| date: 'dd-MM-yyyy' }}</td>
<td style="width: 23%">
    <div class="row">  
        <div class="col-sm-4">            
            <button class="btn btn-primary btn-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizza dati" (click)="showUser()">
                <fa-icon [icon]="faMagn" size="2x"></fa-icon>
            </button>
        </div>      
        <div class="col-sm-4">            
            <button class="btn btn-primary btn-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifica dati" (click)="updateUser()">
                <fa-icon [icon]="faPenToSquare" size="2x"></fa-icon>
            </button>
        </div>      
        <div class="col-sm-4">
            <button  class="btn btn-danger btn-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancella" (click)="deleteUser()">
                <fa-icon [icon]="faTrash" size="2x"></fa-icon>
            </button>    
        </div>      

    </div>

</td>
